body{
    background-color:gold;
    mask-repeat: no-repeat;
}
input{
    padding: 6px 2px;
    min-width: 320px;
    font-size: 18px;
}
.btn{
    font-size: 26px;
    border-radius: 2rem;
    position: absolute;
    background-color: cadetblue;
}
.btn:hover{
    color: green;
}
.heading{
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todoLists{
    background-color: aqua;
    list-style-type:none

}